<!-- //contents -->
<% if (title) { %> 
    <h1><%= title %></h1> 
    <% } else {  
        res.redirect('/') 
       } %>  
     

    <%- messages() %>

    <%# grid %>

<div id="login-container">
<h3>Please Login with Your Email and Password</h3>
        <form id="login-form" action="">
            <label for="email"> Email:</label><br>
            <input type="email" id="email" name="email" placeholder="Enter your Email Address " required><br>

            <label for="password"> Password:</label><br>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>

            <div class="wrap">
                <button id="login-button" type="submit" onclick="solve()"> Login </button>
            </div>
        </form>
        <p>Not registered?
            <a href="/account/register" style="text-decoration: none;"> Create an account</a>
        </p>
    </div>
</div>


   