


    <!-- <div class="cookie-banner" id="cookie-banner">
        <p>This site uses cookies to enhance your experience. By clicking "Accept and Continue," you consent to our cookie policy.</p>
        <form action="/accept-cookie" method="post">
            <button type="submit">Accept and Continue</button>
        </form>
    </div>

 -->



<%- messages() %>

<% if (showCookieBanner) { %>
    <div id="cookie-banner" class="cookie-banner">
        <p>This site uses cookies to enhance your experience. By clicking "Accept and Continue," you consent to our cookie policy.</p>
        <button id="accept-cookie-btn">Accept and Continue</button>
    </div>
    <% } %>
</main>




<!-- <h1>Welcome to CSE Motors!</h1> -->
<div class="contianer1">
    <picture>
        <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width: 200px)">        
        <img src="/images/vehicles/delorean.jpg" alt="dolean_big_photo" loading="lazy" width="500">
    </picture>
    <div id="action_Container1">
        <h3> DMC Dolorean <br>3 Cup holdrs <br>superman doors <br>Fuzzy dicel</h3>  
        
        <span> <img src="/images/site/own_today.png" alt="own_todaypng"></span>
    </div>
</div>

<div class="container2">
    <div id="sub_container1">
        <h2>DMC Delorean Reviews</h2>
        <ul id="Reviews_list">
            <li>"so fast its almost like traveling in time." (4/5)</li>
            <li>"Coollest ride on the road"(4/5)</li>
            <li>"I'm feeling MCFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!(5/5)</li>    
        </ul>
    </div>
    <div id="sub_container2">
        <h2>Delorean Upgrades</h2>
        <div id="upgrages_cards">
            <div id="card1">
                <div>
                    <img src="/images/upgrades/flux-cap.png" alt="flux-cap">
                    
                </div>
                <a href="www.google.com">Flux Capacitor</a>
                
            </div>
            <div id="card2">
                <div>
                    <img src="/images/upgrades/flame.jpg" alt="flame">                    
                </div>
                <a href="www.ask.com">Flame Decals</a>
            </div>
            <div id="card3">
                <div>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker">
                    
                </div>
                <a href="www.ask.com">Bumper Stickers</a>
            </div>
            <div id="card4">
            <div>
                <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
               
            </div>
            <a href="www.ask.com">Hub Caps</a>
            </div>
        </div>

    </div>
        
</div> 


<script>
    document.getElementById("accept-cookie-btn").addEventListener("click", function () {
        fetch('/cookies/accept-cookie', { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    document.getElementById("cookie-banner").style.display = "none";
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>

